{% extends "base.html" %}


{% block page_name %}
    Home
{% endblock page_name %}

{% block content%}
    {% for room in rooms.object_list %}
        <h1>{{room.name}} / {{room.price}}</h1>
    {% endfor %}
    <ul>
        {% if rooms.has_previous %}
            <span><a href="?page={{rooms.number|add:-1}}">Prev</a></span>
        {% endif %}
        {% for page in paginator_range %}
            {% if rooms.number == page %}
                <span>{{page}}</span>
            {% else %}
                <span><a href="?page={{page}}">{{page}}</a></span>
            {% endif %}
        {% endfor %}
        {% if rooms.has_next %}
            <span><a href="?page={{rooms.number|add:1}}">Next</a></span>
        {% endif %}
    </ul>

{% endblock content %}
